{% extends "Master.html.jinja2" %}


<head>
    <title> Accueil </title>
</head>

{% block body %}

    <style>
        h1 {
            font-weight: bold;
            color: darkgrey
        }
    </style>

    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- Affichage -->
    <h1> TOUS NOS PRODUITS </h1>

    {% for produit in sandwichs_1 %}
        <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{ produit.nom }}</h5>
                    <p class="card-text">Ingredients :</p>
                    <a href="{{ url_for("reservation", id=produit.id_s) }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <h1></h1>
    <!-- Bouton "Voir plus" -->

    <a class="btn btn-secondary btn-lg btn-block" href="{{ url_for("produits") }}" style="color: black;
            background-color: #e6d5cb;">VOIR PLUS DE SANDWICHS</a>


{% endblock %}
