{% extends "Master.html.jinja2" %}


<head>
    <title> Accueil </title>
</head>

{% block body %}


    <style>
        body {
            background-color: white;
        }

        h1 {
            font-weight: bold;
            color: #000000;
            font-family: Geneva;

        }

        h2 {
            font-weight: bold;
            color: #000000;
            font-family: Geneva;
        }

        h5 {
            color: #000000;
            font-family: Geneva;
            font-weight: bold;

        }

        p {
            color: #000000;
            font-family: Geneva;
        }

        h6 {
            color: #000000;
            font-family: Geneva;
        }

        a {
            color: #000000;
            font-family: Geneva;



        }

    </style>

    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- Affichage -->
    <h1> Tous nos produits </h1>


    {% for category_name in categories_dict %}
        <h2> Nos {{ category_name }}</h2>

        <div class="row">

            {% for produit in categories_dict[category_name] %}

                <div class="col-sm-3">
                    <div class="card border -dark mb-3" style="max-width: 18rem;">
                        <div class="card shadow" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> {{ produit.nom_s }} </h5>
                            <p class="card-text"> {{ produit.description }}</p>
                            <h6 class="card-subtitle mb-2 text-muted"> Quantite restante
                                : {{ produit.quantite_restante }} </h6>
                            <h6 class="card-subtitle mb-2 text-muted"> Prix : {{ produit.prix_s }} € </h6>
                            <a type="button"
                               style="font-weight: bold ; border-color:lightskyblue ;"
                               href="{{ url_for("reservation", id=produit.id_s) }}"
                               class="btn btn-outline-info" > RESERVER
                            </a>

                        </div>
                    </div>


 </div>

                </div>
            {% endfor %}
        </div>

        <h1></h1>
        <!-- Bouton "Voir plus" -->
        <div class="row">

                <a type="button"
                   class="btn btn-outline-secondary btn-lg btn-block"
                   href="{{ url_for("produits", cat=category_name) }}"
                   style="font-weight: bold " > Voir plus
                    de {{ category_name }}</a>
          </div>

        <h1></h1>


    {% endfor %}

<a class="btn btn-secondary btn-lg btn-block" href="{{ url_for("viewcafet") }}"
                   style="color: #000000; background-color: #17a2b8; font-weight: bold">Je suis un membre de la caféteria</a>

{% endblock %}
