{% extends "Master.html.jinja2" %}


<html>


<head>
    <title> Accueil </title>
</head>

NOS SANDWICHS

<body>


<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> NOM 1</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">RESERVER</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> NOM 2 </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary"> RESERVER </a>
      </div>
    </div>
  </div>
</div>


</body>



</html>