{% extends "MasterCafet.html.jinja2" %}
{% block body %}

    <h3> {{ message }} </h3>

    <h1></h1>
    <a href="{{ url_for("viewcafet_produits") }}" class="btn btn-lg btn-secondary btn-block btn-light" class="bottom">
        Retour à la liste des produits</a>

{% endblock %}