{% extends "Master.html.jinja2" %}

{% block body %}

    <div class="row">
        <button class="btn btn-lg btn-block" disabled> Votre réservation a été enregistrée </button>
    </div>
    <h1> </h1>
    <a href="{{ url_for("afficher_accueil") }}" class="btn btn-lg btn-secondary btn-block btn-light" class="bottom"> Retour à l'accueil </a>

{% endblock %}