{% extends "Master.html.jinja2" %}


<head>
    <title> NOS PRODUITS </title>
</head>

{% block body %}

    <style>
        body {
            background-color: white;
        }

        h1 {
            font-weight: bold;
            color: #89023e;
            font-family: Gabriola;
        }

        h2 {
            font-weight: bold;
            color: #9e3061;
            font-family: Gabriola;
        }

        h5 {
            color: #000000;
            font-family: Gabriola;
            font-weight: bold;
        }

        p {
            color: #000000;
            font-family: Gabriola;
        }

        h6 {
            color: #000000;
            font-family: Gabriola;
        }

        a {
            color: #000000;
            font-family: Gabriola;
        }

        h3{
            color: #000000;
            font-family: Gabriola;
        }

    </style>


    <h1 class="title"> Nos {{ categorie }} </h1>

    <h3> Faites votre selection </h3>
    <div class="row">

        <!--  ----------------------------------------------------------------------------------------------------  -->
        <!--  CARD DE /SANDWICHS -->
        <!--  ----------------------------------------------------------------------------------------------------  -->

        {% for produit in produits %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{ produit.nom_s }} </h5>
                        <p class="card-text"> {{ produit.description }}</p>
                        <h6 class="card-subtitle mb-2 text-muted"> Quantite restante
                            : {{ produit.quantite_restante }} </h6>
                        <h6 class="card-subtitle mb-2 text-muted"> Prix : {{ produit.prix_s }} € </h6>
                        <a style="color: #000000; background-color: #a94772; font-weight: bold" href="{{ url_for("reservation", id=produit.id_s) }}" class="btn"> -> RESERVER !</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}



