{% extends "Master.html.jinja2" %}


<head>
    <title> NOS  vjxl </title>
</head>

{% block body %}

    <style>
        h1 {
            font-weight: bold;
            color: darkgrey
        }
    </style>

    <h1 class="title"> {{ categorie }} </h1>


    <h2 style="color:grey" style="font-weight: bold"> Choisissez un(e) VHBSKB </h2>
    <div class="row">

<!--  ----------------------------------------------------------------------------------------------------  -->
<!--  CARD DE /SANDWICHS -->
<!--  ----------------------------------------------------------------------------------------------------  -->

        {% for produit in sandwichs_1 %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{ produit.nom_s }} </h5>
                        <p class="card-text"> {{ produit.description }}</p>
                        <h6 class="card-subtitle mb-2 text-muted"> Quantite restante : {{ produit.quantite_restante }} </h6>
                        <h6 class="card-subtitle mb-2 text-muted"> Prix : {{ produit.prix_s }} € </h6>
                        <a href="{{ url_for("reservation", id_s=produit.id_s) }}" class="btn btn-primary">RESERVER</a>
                    </div>
                </div>
            </div>
        {% endfor %}



{% endblock %}



