{% extends "Master.html.jinja2" %}


<head>
    <title> NOS PRODUITS </title>
</head>

{% block body %}

    <style>
        body {
            background-color: white;
        }

        h1 {
            font-weight: bold;
            color: #000000;
            font-family: Geneva;
        }

        h2 {
            font-weight: bold;
            color: #000000;
            font-family: Geneva;
        }

        h5 {
            color: #000000;
            font-family: Gabriola;
            font-weight: bold;
        }

        p {
            color: #000000;
            font-family: Geneva;
        }

        h6 {
            color: #000000;
            font-family: Geneva;
        }

        h3{
            color: #000000;
            font-family: Geneva;
        }

    </style>


    <h1 class="title"> Nos {{ categorie }} </h1>

    <h3> Faites votre selection </h3>
    <div class="row">

        <!--  ----------------------------------------------------------------------------------------------------  -->
        <!--  CARD DE /SANDWICHS -->
        <!--  ----------------------------------------------------------------------------------------------------  -->


        {% for produit in produits %}
            <div class="col-sm-3">
                <div class="card border -dark mb-3" style="max-width: 18rem;">
                   <div class="card shadow" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> {{ produit.nom_s }} </h5>
                        <p class="card-text"> {{ produit.description }}</p>
                        <h6 class="card-subtitle mb-2 text-muted"> Quantite restante
                            : {{ produit.quantite_restante }} </h6>
                        <h6 class="card-subtitle mb-2 text-muted"> Prix : {{ produit.prix_s }} € </h6>
                        <a type="button"
                           style="font-weight: bold"
                           href="{{ url_for("reservation", id=produit.id_s) }}"
                           class="btn btn-outline-info"> RESERVER </a>
                    </div>
                </div>
 </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}



