{% extends "Master.html.jinja2" %}

<head>
    <title> NOS PLATS CHAUDS </title>
</head>

{% block body %}

    <style>
        h1 {
            font-weight: bold;
            color: darkgrey
        }
        h2 {
            color:grey;
            font-weight: bold;
        }
    </style>

    <h1> NOS PLATS CHAUDS</h1>

    <h2> Pates </h2>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Pates 1</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Pates 2 </h5>
                    <p class="card-text">Ingrédients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary"> RESERVER </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Pates 3</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Pates 4</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
    </div>

    <h2> Paninis </h2>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Panini 1</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Panini 2 </h5>
                    <p class="card-text">Ingrédients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary"> RESERVER </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Panini 3</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Panini 4</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



