{% extends "Master.html.jinja2" %}

<head>
    <title> NOS SANDWICHS </title>
</head>

{% block body %}

{% endblock %}

    <h1 class="display-2" style="color: darkgrey" style="font-weight: bold"> NOS SANDWICHS</h1>

