{% extends "Master.html.jinja2" %}

<head>
    <title> NOS SANDWICHS </title>
</head>

{% block body %}
    
    <style>
        h1 {
            font-weight: bold;
            color: darkgrey
        }
    </style>

    <h1> NOS SANDWICHS </h1>

    <h2 style="color:grey" style="font-weight: bold"> A base de jambon</h2>
    <div class="row">

<!--  ----------------------------------------------------------------------------------------------------  -->
<!--  CARDS DE SANDWICHS -->
<!--  ----------------------------------------------------------------------------------------------------  -->

        {% for sandwich in sandwichs_1 %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{ sandwich.nom_s }} </h5>
                        <p class="card-text">Ingredients.</p>
                        <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                    </div>
                </div>
            </div>
        {% endfor %}



{% endblock %}



