<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<head>
    <title> VIEW CAFET </title>
</head>

{% block body %}
    <style>
        body {
            background-color: #e8e8e8;
        }

        form {
            font-palette: light;
            font-style: revert;
            color: black;
        }
    </style>

    <h1 class="title"> Réservations du jour </h1>

    <table class="table">

        <thead>

        <tr>
            <th scope="row"></th>
            <th scope="col">Produit Commandé</th>
            <th scope="col">Nom client</th>
            <th scope="col"> Prénom client</th>
            <th scope="col"> Possède la subvention</th>
            <th scope="col"> En menu</th>
        </tr>
        </thead>

        <tbody>
        {% for res in reservations %}
            <tr>
                <th scope="row"></th>
                <td>{{ res.produit }}</td>
                <td>{{ res.nom }}</td>
                <td>{{ res.prenom }}</td>
                <td>{{ res.menu }}</td>
                <td>{{ res.subvention }}</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>



{% endblock %}