{% extends "Master.html.jinja2" %}

<head>
    <title> NOS WRAPS </title>
</head>

{% block body %}

    <h1 style="color: darkgrey" style="font-weight: bold"> NOS WRAPS</h1>

    <h2 style="color:grey" style="font-weight: bold"> A base de poulet</h2>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> WRAP 1</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> WRAP 2 </h5>
                    <p class="card-text">Ingrédients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary"> RESERVER </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> WRAP 3</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> WRAP 4</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
    </div>

    <h2 style="color:grey" style="font-weight: bold"> A base de thon
    </h2>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> SANDWICH 1</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> SANDWICH 2 </h5>
                    <p class="card-text">Ingrédients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary"> RESERVER </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> SANDWICH 3</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> SANDWICH 4</h5>
                    <p class="card-text">Ingredients.</p>
                    <a href="{{ url_for("reservation") }}" class="btn btn-primary">RESERVER</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



